.sidebar__container{
    width: 18vw;
    /* border-right: 1px solid gray; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    box-shadow: 0 3px 6px 0px #00000029;
    background-color: white;
    
}

.sidebar__logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: inherit;
    /* background-color: rgb(235, 233, 233); */
    /* padding: 0.5rem 0; */
    height: 8%;

}

.sidebar__logo img{
    width: 100%;
    height: auto;
}

.tabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}
