.title_wrapper{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 95%;
    /* border: 2px solid rebeccapurple; */
    text-align: center;
    background-color: #EAF9FF;
    padding: 10px 0;

}
/* 
.row_wrapper p{
     border: 2px solid red;
} */